@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply font-sans text-metahodos-text-primary antialiased;
    @apply bg-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-metahodos-gray font-semibold;
  }

  h1 {
    @apply text-5xl leading-tight;
  }

  h2 {
    @apply text-4xl leading-snug;
  }

  h3 {
    @apply text-3xl leading-snug;
  }

  h4 {
    @apply text-2xl leading-normal;
  }

  h5 {
    @apply text-xl leading-normal;
  }

  h6 {
    @apply text-lg leading-normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
